body { 
     margin: 0;
      background: #f0f2f5;
      font-family: sans-serif; 
    background-image: url('images/img.png'); 
    background-size: cover;                
    background-position: center;           
    background-repeat: no-repeat;          
    background-attachment: fixed;  
    }
.app{ 
     display: grid;
     grid-template-columns:repeat(auto-fill, 200px); /*800px de large → 4 colonnes (200 × 4)*/
     padding: 24px; 
     gap: 24px;
    }

.add-note {
  height: 200px;
   background: rgba(0,0,0,0.1);
    border: 2px dashed rgba(0,0,0,0.2);
  border-radius: 10px;
   font-size: 50px; 
   color: rgba(0,0,0,0.3); 
   cursor: pointer;
}
.add-note:hover { 
    background: rgba(0,0,0,0.2); 
}

.note {
  height: 200px;
  box-sizing: border-box; padding: 16px;
  border: none; border-radius: 10px; box-shadow: 0 0 7px rgba(0,0,0,0.15);
  background: #ffeb3b; resize: none; font-size: 16px; transition: transform 0.2s;
}

.note:focus { transform: scale(1.02); outline: none; box-shadow: 0 0 10px rgba(0,0,0,0.3); }
